[mysqld]
default-character-set=utf8
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
symbolic-links=0
skip-grant-tables
skip-locking 
skip-name-resolve
back_log = 192
key_buffer_size = 128M
max_allowed_packet = 2M
thread_stack = 128K
table_cache = 64K
sort_buffer_size = 3M
read_buffer_size = 2M
join_buffer_size = 4M
myisam_sort_buffer_size = 32M
table_cache = 256
thread_cache_size = 32
query_cache_size = 32M
tmp_table_size = 128M
max_connections = 768
max_connect_errors = 1000
wait_timeout = 10
thread_concurrency = 4
table_cache=512
innodb_additional_mem_pool_size=2M
innodb_flush_log_at_trx_commit=1
innodb_log_buffer_size=1M
innodb_thread_concurrency=4
key_buffer_size=128M
tmp_table_size=32M
read_buffer_size=2M
read_rnd_buffer_size=8M
sort_buffer_size=16M
thread_cache_size=60
query_cache_size=16M
lower_case_table_names=1
default-storage-engine=INNODB


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
